section:first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: var(--white);
}

header {
    display: flex;
    width: 100%;
    height: 80vh;
}

header > .titleDiv {
    height: 100%;
    width: 60%;
    background-image: linear-gradient(to bottom right, var(--dark-green), var(--light-green));
    display: flex; align-items: center; justify-content: center;
    flex-direction: column;
}

.titleDiv > img {
    display: none;
}

@media (max-width: 1000px) {
    div.titleDiv > img {
        display: block;
    }
    div.titleDiv {
        width: 100%;
        background: var(--white);
    }
    div.titleDiv > h1 {
        color: var(--black-green);
    }
    div.titleDiv > h2 {
        color: var(--black-green);
    }
    div.filler {
        display: none;
    }
}

.titleDiv > h1 {
    margin-top: 2rem;
    font-family: 'title1', 'Times New Roman', Times, serif;
    font-size: clamp(4.6rem, 7vw, 6rem);
    font-weight: 800;
    color: white;
}

.titleDiv > h2 {
    font-family: 'title2', sans-serif;
    font-size: clamp(1.4rem, 3.4vw, 1.6rem);
    font-weight: 400;
    color: var(--white);
}

.filler {
    width: 40%;
    height: 100%;

    display: flex; align-items: center; justify-content: center;
}

.filler > img, .titleDiv > img {
    width: max(30%, 12rem);
}