section#local {
    background: var(--white);

    box-shadow: inset 0 0 8rem 0 #0a1d0231;
}

address {
    font-size: large;
    font-style: normal;
    display: flex; flex-direction: column;
    width: clamp(50vw, 40rem, 85vw);
    color: var(--black-green);
    padding: 1.4rem;
    border-radius: .5rem;
    margin: 4rem 0;
}

#map-replacer, iframe {
    margin: 0 -1.4rem;
    width: 100%;
    height: clamp(30vw, 20rem, 70vh);
    background: #0097b2;
    margin: .6rem 0;
    border: 3px solid rgba(0, 0, 100, .4);
    border-radius: .3rem;
}

#map-replacer { opacity: .5; }

iframe {
    background-color: white;
}